	

<form action="/landmarks/<%= @landmark.id %>" method="POST">
	<input type="hidden" name="_method" value="patch">

	
 <lable>Landmark Name</lable>
 <input type="text" id="landmark_name" name="landmark[name]" value="<%= @landmark.name %>">

	<br></br>

<label> Year of Completion: </label>
<input type="text" id="year_completed" name="landmark[year_completed]"  value="year completed">

<input type="submit" value="Edit Landmark">

