<!-- This is figures/index, it's the first page of figures, lists all the figures, asks if you want to create new, or edit. Wait, test says that figures/ is what lists all the figures.  -->


<h1>NYC Figures:</h1>

<a href="/figures/new">Make a New Figure</a>


<p><a href="/landmarks/index">I Want to see NYC Landmarks instead.</a> </p>


<ul>
	<% @figures.each do |figure| %>
		<li><a href="/figures/<%= figure.id%>"><%= figure.name %></a> 
	<%end%>

</ul>


