<!-- Comes from applicationController 
this is the home page , /
 -->

 <h1>Welcome to Historical NYC </h1>
 
 <h3>Would you like to see?</h3>

 <a href="/figures">figures</a>
 <a href="/landmarks">landmarks</a>

 <!-- <form action="/figures/" method="GET">
 	<label for="figures">NYC Figures</label>
	<input type="radio" value="Figures">

	<label for="landmarks/">NYC Landmarks</label>
	<input type="radio" value="Landmarks">
	
	<input type="submit" value="Submit">

	
</form> -->
<!-- What do I do to push each to a different route -- two submit buttons, like I had before, or href? 
 -->