<!-- Comes from applicationController 
this is the home page , /
 -->

 <h1>Welcome to NYC </h1>
 
 <h3>Would you like to see:</h3>

 <form action="/figures" method="GET">
 	<label for="figures">See Figures</label>
	<input type="radio" value="Figures">
	<input type="submit" value="Submit">

	
</form>

<form action="/landmarks" method="GET">
	<label for="landmarks">See Landmarks</label>
	<input type="radio" value="Landmarks">

	<input type="submit" value="Submit">


</form><!-- 
 <ul>
 	<li><a href="/figures/index">Figures</a></li>
 	<li><a href="/landmarks/index">Landmarks</a></li>
</ul> -->

<!-- next: goes to figures/index and/or to landmarks/index -->


